openapi: 3.0.0
info:
  title: BoTreasure API
  description: BoTreasureに関するAPI仕様書です。
  version: 1.0.0
servers:
  - url: https://node-learn.run-ticket.com/
    description: Production server (ros2)
  - url: http://localhost:8080/
    description: Local server (mac)
paths:
  /api/team-building:
    post:
      tags:
          - チーム作成
      summary: Create a team building request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                teamName:
                  type: string
                playerCount:
                  type: integer
                  format: int32
                ownerCount:
                  type: integer
                  format: int32
                treasureCount:
                  type: integer
                  format: int32
                keyword:
                  type: string
              required:
                - userId
                - teamName
                - playerCount
                - ownerCount
                - treasureCount
                - keyword
      responses:
        '201':
          description: Team building request created successfully

  /api/team-joining:
    post:
      tags:
          - チーム参加
      summary: Join a team request
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                teamId:
                  type: string
              required:
                - userId
                - teamId
      responses:
        '201':
          description: Successfully joined the team
  /api/teams:
      get:
        tags:
          - チーム一覧取得
        summary: Get all teams
        responses:
          '200':
            description: Successful operation
            content:
              application/json:
                schema:
                  type: array
                  items:
                    $ref: '#/components/schemas/Team'
  /api/qr-scan:
    post:
      tags:
          - QRスキャン
      summary: Scan a QR code
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                userId:
                  type: string
                treasureId:
                  type: string
              required:
                - userId
                - treasureId
      responses:
        '200':
          description: QR code scanned successfully
  /api/user/{userId}:
    get:
      tags:
          - 特定のユーザー取得
      summary: Get user by ID
      parameters:
        - in: path
          name: userId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/User'
  /api/team/{teamId}:
    get:
      tags:
          - 特定のチーム取得/削除
      summary: Get team by ID
      parameters:
        - in: path
          name: teamId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Team'
    delete:
      tags:
          - 特定のチーム取得/削除
      summary: Delete team by ID
      parameters:
        - in: path
          name: teamId
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Team deleted successfully
  /api/game/{teamId}:
    get:
      tags:
        - 特定のゲーム情報取得
      summary: Get all game by team ID
      responses:
        '200':
          description: A list of game
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Game'
  /api/schedule:
    post:
      tags:
        - スケジュール作成
      summary: Create a new schedule
      requestBody:
        required: true
        content:
          application/json:
              schema:
                type: object
                properties:
                  teamId:
                    type: string
                  users:
                    type: array
                    items:
                      $ref: '#/components/schemas/User'
                  messages:
                    type: array
                    items:
                      type: object
                  timeAfterMinutes: 
                    type: number
                  hintId:
                    type: string
                  enableOwner:
                    $ref: '#/components/schemas/User'
                required:
                  - teamId
                  - users
                  - messages
                  - timeAfterMinutes
      responses:
        '200':
          description: Schedule created successfully
  /api/save/hint:
    post:
      tags:
        - ヒント作成(デバッグ用)
      summary: Create a new hint
      requestBody:
        required: true
        content:
          application/json:
              schema:
                type: object
                properties:
                  teamId:
                    type: string
                  content:
                    type: string
                required:
                  - teamId
                  - content
      responses:
        '201':
          description: Hint created successfully
    
components:
  schemas:
    User:
      type: object
      properties:
        userId:
          type: string
        name:
          type: string
        teamId:
          type: string
          nullable: true
      required:
        - userId
        - name
    Team:
      type: object
      properties:
        teamId:
          type: string
        hostId:
          type: string
        name:
          type: string
        playerCount:
          type: integer
          nullable: true
        ownerCount:
          type: integer
          nullable: true
        treasureCount:
          type: integer
          nullable: true
        keyword:
          type: string
          nullable: true
      required:
        - teamId
        - hostId
        - name
        - playerCount
        - ownerCount
        - treasureCount
        - keyword
    Game:
      type: object
      properties:
        team:
          $ref: '#/components/schemas/Team'
        allUsers:
          type: array
          items:
            $ref: '#/components/schemas/User'
        owners:
          type: array
          items:
            $ref: '#/components/schemas/User'
        seekers:
          type: array
          items:
            $ref: '#/components/schemas/User'
        arrestedMembers:
          type: array
          items:
            $ref: '#/components/schemas/User'
        disabledScanMembers:
          type: array
          items:
            $ref: '#/components/schemas/User'
        hints:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              content:
                type: string
              isPrinted:
                type: boolean
        treasures:
          type: array
          items:
            type: object
            properties:
              id:
                type: string
              isScanned:
                type: boolean
        status:
          $ref: '#/components/schemas/Status'
      required:
        - team
        - allUsers
        - owners
        - seekers
        - hints
        - treasures
        - status
    Status:
      type: string
      format: string
      enum:
        - create
        - prepare
        - chat
        - play
        - end
    Schedule:
      type: object
      properties:
        id:
          type: string
        teamId:
          type: string
        users:
          type: array
          items:
            $ref: '#/components/schemas/User'
        messages:
          type: array
          items:
            type: object
        date:
          type: string
          format: date-time
        hintId:
          type: string
        enableOwner:
          $ref: '#/components/schemas/User'
      required:
        - id
        - teamId
        - users
        - messages
        - date
    treasure:
      type: object
      properties:
        id:
          type: string
        isScanned:
          type: boolean
